*{
  background-color: black;
  color:white
}
input{
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.btn{
  margin: 10px;
}

.container{
  display: flex;
  gap:1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(182, 179, 20);
  
}

.container h1{
  font-size: 2rem;
}
.container h2{
  color:azure;
}


.card-price{
  margin-top: 1rem;
  color: rgb(44, 40, 40);
  font-weight: 700;
}