.products{
    background-color: black;
    color:white
}
.card{
    background-color: black;
    color: white;
    border: 1px solid gray;
}

.card-img-top{
    border-radius: 10px;
}

.card-price{
    color: rgb(255, 255, 255);
}
.card-body{
    color:wheat
}
